<html>
  <head>
    <div class="head">
    <title>Blog</title>
    <link rel="stylesheet" href="main.css" title="CSS" type="text/css" />
    <h1>Welcome!</h1>
</div>
  </head>
  <div class="navbar">
    <ul>
      <li><%= link_to 'Alpha Blog', articles_path %></li>

    </ul>
  </div>
  <body>
<!--<%= yield %> -->
  </body>

</html>
